# Configuration File for payload sensor
# This information is used in the calculation of survey information
# while in flight.

# SensorInstalled flag
# This is to allow the system to default to a safe behaviour
SensorInstalled 1

# SensorName String_Name
# This is the name for the specific sensor.
# Not used in survey paramater calculations
SensorName Visual-RGB-10mm

# SensorType String_Type
# This variable details the type of sensor. 
# Allowable values are:
#	Triggered-Still
#	Triggered-Continuous
#	Continuous
SensorType Triggered-Still

# SensorPicX int_pixels
# The sensor resolution. 
# Used to calculate ground resolution from the sensor.
SensorPicLat 3872
SensorPicLon 2592

# SensorFOV float_deg
# The field of view of the sensor as reported by manufacturer
# Not used in survey paramater calculations
# Field of View in degrees
# Units: deg
SensorFOV 77

# LongFOV float_deg
# The Field of View (FOV) in the direction of the aircrafts' travel
# i.e., the longitudonal direction (front to back)
# Units: deg
LongFOV 42.8339

# LatFOV float_deg
# The Field of View (FOV) in the direction perpendicular to the aircrafts' travel
# i.e., the lateral direction (side to side)
# Units: deg
LatFOV 63.9864

# MinTrigTime float_sec
# The minimum time between triggered actuations
# Units: sec
MinTrigTime 0.1

# TriggerHoldTime float_sec
# How long to hold the trigger level
TriggerHoldTime 0.2

# TriggerLevel int_val
# Describes the value of the signal line used to actuate the sensor
# Units: Scalar
TriggerLevel 1

# TriggerLine String_lineID
# Which logic signal is used to send the trigger signal.
# Allowable values are:
#	Dig0, Dig1, Dig2, Trig0, Trig1
TriggerLine Dig0

# PreTrigger int_val
# Does the sensor need some signal set prior to triggering
# Units: Scalar
PreTrigger 0

# PreTriggerTime float_sec
# How long before triggering must the pre-trigger be set
# Units: seconds
PreTriggerTime 0.2

# PreTriggerLevel int_val
# Describes the value of the signal line used to actuate the PreTrigger line
# Units: Scalar
PreTriggerLevel 0

# PreTriggerLine String_lineID
# Which logic signal is used to send the Pretrigger signal.
# Allowable values are:
#	Dig0, Dig1, Dig2, Trig0, Trig1
# Units: String-name
PreTriggerLine Dig1

# DeployforCapture int_val
# Does this sensor get deployed? If so, should it be deployed prior to each capture?
# Otherwise, it is deployed for teh duration of the survey.
# Units: Scalar
DeployforCapture 0

# DeployX float_val
# Does this sensor need to be deployed prior to use? If so, what are the values for the 
# two payload actuators
# Units: Position(scalar)
Deploy0 0
Deploy1 0
